*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head,
main,
footer header,
body,
footer {
    min-width: 100%;
}



main {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(rgba(255, 255, 255, 0.1), rgba( 0,0,0,1)) , url(/Assets/Imgs/Background\ img\ POS\ project.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 
        
       
    
}

body{
    background-color: rgba(0, 0, 0, 0.1);
}

h1{
    padding-top: 13rem;
    font-size: 100px;
}

h2{
    padding-top: 2rem;
    font-size: 50px;
}
 
h1,h2,h3,h4,h5,p{
    color: white;
}

.navbar{
    height: 5rem;
}

#navbar-example2{
 margin-bottom :0 !important;
}

.headings-section{
    background-color: rgba(0, 0, 0, 0.404) !important;
    border-radius: 0 !important;
}

h4{
    font-size: 30px;
}



/* ////////////////////////////////////////////////////////////// */

/* landingpage */

#heading-homepage {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    color: #FDF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
 
}

/* landing page text */
.home-p-text{
    font-size: 18px;
    color: #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-right: 5rem;
    padding-left: 5rem;
}

.home-text{
    margin-top: 100px;
}


/* /////////////////////////////////////////////////////////////////////// */

/* aboutpage */

#heading-aboutpage {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    color: #FDF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
 
}

/* about page text */
.about-p-text{
    font-size: 18px;
    color: #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-right: 5rem;
    padding-left: 5rem;
}

.about-text{
    margin-top: 280px;
}

.img2 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(176, 175, 175, 0), rgba( 0,0,0,1)) , url(/Assets/Imgs/Javascript\ Project\ Img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 
    
   
}

/* /////////////////////////////////////////////////////////////////////// */

/* contactpage */

#heading-contactpage {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    color: #FDF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
 
}

/* contact page text */
.contact-p-text{
    font-size: 18px;
    color: #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-right: 5rem;
    padding-left: 5rem;
}

.contact-text{
    margin-top: 280px;
}

.img3 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(176, 175, 175, 0), rgba( 0,0,0,1)) , url(/Assets/Imgs/Javascript\ Project\ Img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 
    
   
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

/* contact form */

.contact{
    padding: 1rem;
}
input[type=submit] {
    color: white;
    background-color: #808080;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}
input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}
input[type=number] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}
input:hover[type=text] {
    border: none;
    border: 4px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}
textarea:hover {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
}
.button{
    padding-bottom: 2rem;
}
